* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  background-color: aliceblue;
}
.main {
  width: 100%;
  background-color: aliceblue;
  display: flex;
  text-align: center;
  line-height: 25px;
  font-size: 10px;
  font-weight: bold;
  z-index: 2;
  margin-top: 10px;
}
.main .left {
  width: 45%;
  height: 25px;
  border-radius: 8px;
  color: magenta;
  background-color: transparent;

  box-shadow: 5px 5px 10px 2px #d9afd9;
  z-index: 10;
}
.main .right {
  width: 25%;
  color: deepskyblue;
  border-radius: 10px;
  height: 25px;
  background-color: white;
  z-index: 7;
  box-shadow: 5px 5px 10px 2px #6284ff;
}
.main .updateMain {
  position: relative;
  width: 30%;
}
.main .updateMain .flex {
  width: 100%;
  display: flex;
}
.main .delete {
  width: 50%;
  background-color: aqua;
  border-radius: 10px;
  height: 25px;
  background-color: transparent;
  z-index: 10;
  color: darkviolet;
  box-shadow: 5px 5px 10px 2px #d9afd9;
}
.main .updateMain .update {
  width: 50%;
  border-radius: 10px;
  height: 25px;
  background-color: white;
  box-shadow: 5px 5px 10px 2px #6284ff;
  color: aqua;
  z-index: 7;
}
.main .updateMain .updateForm {
  max-height: 0;
  height: 120px;
  overflow: hidden;
  z-index: 1;
  margin-top: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 2px #6284ff;
  transition: 2s;
}
.main .updateMain form .input1 {
  position: relative;
  width: 95%;
  margin-top: 10px;
  margin-left: 2.5%;
}
.main .updateMain form .updateInput {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  height: 30px;
  outline: none;
  border: 1px solid black;
  color: black;
  z-index: 10;
  transition: 0.5s;
}
.main .updateMain form .top {
  width: auto;
  height: 13px;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 13px;
  position: absolute;
  left: 10px;
  bottom: 8px;
  pointer-events: none;
  transition: 0.5s;
}
.main .updateMain form button {
  margin: 5px 0 5px 20%;
  width: 60%;
  height: 20px;
  border-radius: 5px;
  border: 1px solid black;
  font-weight: bold;
  background-color: magenta;
}
.main .updateMain form .updateInput:valid ~ .top,
.main .updateMain form .updateInput:focus ~ .top {
  background-color: white;
  font-size: 0.6rem;
  transform: translateY(-15px);
  color: aqua;
}
.main .updateMain form .updateInput:focus {
  border: 1px solid magenta;
}
.main .updateMain .king {
  position: static;
  max-height: 120px;
}
