.transition {
  transition: 1s;
}
.over{
  position: absolute;
  width: 500px;
  height: 40px;
  background-color: transparent;
  overflow: hidden;
  z-index: 100;
  right: 0;
  pointer-events: none;

}
.over .tost {
  position: absolute;
  width: 200px;
  height: 40px;
  background-color: hotpink;
  z-index: 10;
  border-radius: 5px;
  line-height: 40px;
  text-align: center;
  font-size: 1.1rem;
  color: #fff;
  text-transform: uppercase;
  transition: 3s;
  right: 0;
  transform: translateX(100%);
}

.over .tostAdd {
  transition: 3s;
  transform: translateX(-1%);
}

